body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.title-page {
  background-color: antiquewhite;
  padding: 15px;
}

.foto-perfil {
  margin: 20px auto;
}

.foto-perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
}
