.title-page{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    text-align: center;
    margin: auto;
    height: 60px;
    width: auto;
    
}
.foto-perfil{
    background-color: blue;
    justify-content: center;
    align-items: center;
    border-radius: 125px;
    text-align: center;
    height: 250px;
    width: 250px;
    margin: auto;
    margin-top: 10px;
}